@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);

  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--cream);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  margin: 20px;
  max-width: 720px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
}

.product-card__product-img {
  width: 50%;
}

.product-card__info {
  background-color: white;
  padding: 36px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info__category {
  color: var(--dark-grayish-blue);
  font-size: 1rem;
  letter-spacing: 6px;
}

.info__title {
  font-size: 3rem;
}

.info__description {
  color: var(--dark-grayish-blue);
  font-size: 1.2rem;
}

.info__price {
  display: flex;
  align-items: center;
}

.price__discounted {
  font-size: 3rem;
  color: var(--dark-cyan);
}

.info__title,
.price__discounted {
  font-family: "Fraunces", serif;
}

.price__original {
  margin-left: 24px;
  color: var(--dark-grayish-blue);
  font-size: 1.1rem;
  text-decoration: line-through;
}

.info__add-to-cart-btn {
  padding: 16px 0;
  background-color: var(--dark-cyan);
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.info__add-to-cart-btn:hover {
  background-color: var(--very-dark-blue);
  cursor: pointer;
}

.attribution {
  position: fixed;
  bottom: 4px;
}
